<div class="allContainer">
  <div class="card custom-card">
  <div class="row g-0">
    <div class="col">
      <img src="assets/errorpage.png" class="img-fluid rounded-start" alt="...">
    </div>
    <div class="col d-flex flex-column justify-content-center">
      <div class="card-body text-center">
        <h5 class="card-title">Espera... é longe demais!</h5>
        <p class="card-subtitle">Este não é o caminho </p>
        <p class="card-text">✨ A lembrar... ✨</p>
        <p class="card-text"> A verdadeira elegância não consiste em ser notado</p>
        <a href="#" class="btn btn-primary custom-btn">Vamos procurar outro caminho</a>
      </div>
    </div>
  </div>
</div>
</div>
