projeto2/node_modules/
projeto2/dist/
projeto2/tmp/
projeto2/out-tsc/
projeto2/.angular/
projeto2/.angular/cache

projeto2/.vscode/
projeto2/.idea/

projeto2/npm-debug.log*
projeto2/yarn-error.log*
projeto2/*.log

projeto2/package-lock.json
projeto2/yarn.lock

projeto2/*.env
projeto2/src/environments/environment*.ts

projeto2/*.js
projeto2/*.d.ts
projeto2/*.js.map
